<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Softnetix</title>
</head>
<body>
    <div class="container">
        <div class="header " id="myHeader">
            <a href="/talks">Let's Talk</a>
          </div>
          <div class="logo">
             <h2> SOFTNETIX</h2> 
             <h4>SOFTWARE COMPANY</h4>
            </div>

           <section class="info">
               <div class="strategy com">
                  <h1>STRATEGY</h1>
                  <h6>Digital Strategy</h6>
                  <h6>Content Strategy</h6>
                  <h6>Brand Positioning</h6>
                  <h6>Discoverability</h6>
               </div>
               <div class="design com">
                   <h1>DESIGN</h1>
                   <h6>Branding</h6> 
                   <h6>User Exprerience(UX)</h6>
                   <h6>Rapid Prototyping</h6> 
                   <h6>User Interface(UI)</h6> 
                </div>
               <div class="technology com">
                  <h1>TECHNOLOGY</h1>
                  <h6>Front-end Development</h6>
                  <h6>Back-end Development</h6>
                  <h6>Content Management Systems</h6>
                  <h6>Open Source Projects</h6>

               </div>
               <div class="performance com">
                <h1>PERFORMANCE</h1>
                <h6>Online Optimization</h6>
                <h6>Conversion Rate Optimisation</h6>
                <h6>Data Analysis</h6>
                <h6>Social Campaigns</h6>
                
               </div>
           </section> 
           <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
              
              <img src="./styles/backendteam.jpg" style="width:100%">
              
            </div>
          
            <div class="mySlides fade">
              
              <img src="./styles/Screenshot 2024-08-30 162035.jpg " style="width:100%">
            
            </div>
          
            <div class="mySlides fade">
              
              <img src="./styles/design team.jpg" style="width:100%">
              
            </div>
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          <br>
          
         
          <section class="icons">
            <div class="rows">
                <div>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                <h1>FINTECH</h1>
                 </div>
                 <div>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                    <h1>HEALTHCARE</h1>
                     </div>
                     <div>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                        <h1>SPORTS</h1>
                         </div>
                         <div>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                            <h1>EDUCATION</h1>
                             </div>

            </div>
       </section>
       <section class="join">
            <h1>JOIN OUR TEAM</h1>
             <button class="accordion">ANDROID/IOS DEVELOPER </button>
                  <div class="android panel">
                       <h2>PREVIEW</h2>
                       <p>Softnetix (an HTP resident) invites a full-time Android / iOS developers to work in the office. We are ready to consider both experienced developers and beginners. As for beginners, we offer mentoring from colleagues, as well as code review, assistance, and constant support. There is a huge scope for career growth of experienced developers, who can develop their own projects and team. </p>
                       <h2>PROJECT DESCRIPTION</h2>
                       <p>A project in the field of sports statistics, e-sports and gambling.</p>
                       <h2>REQUIREMENTS</h2>
                       <ul>
                        <li>Minimum 1 year experience in commercial development of native iOS or Android applications</li>
                        <li>Experience in developing mobile applications using Flutter</li>
                        <li>Possession and understanding of architectural patterns: BLoC, RxDart, Provider</li>
                        <li>Knowledge of the architecture and principles of developing iOS or Android applications</li>
                        <li>Design patterns, SOLID principles and knowledge of how to apply them</li>
                        <li>Knowledge and understanding of Viper, MVVM, MVC architectures for iOS or Android applications</li>
                        <li>Familiar with basic algorithms and data structures</li>
                        <li>Good knowledge of Java / Kotlin or Objective C / Swift</li>
                        <li>Experience with networking: RESTful API and HTTP, Web Sockets</li>
                        <li>Experience with team development tools (Git, Gitlab, JIRA, Bitbucket)</li>
                        <li>Experience in using databases in applications (SQLite, Realm)</li>
                        <li>Ability to work with Push notifications</li>
                        <li>Ability to work in a team, substantiate proposed solutions, respond constructively to comments and suggestions. </li>
                        <li>Experience with Kotlin Multiplatform</li>
                        <li>Experience with Flutter</li>
                       </ul>
                       <h2>WE OFFER:</h2>
                       <ul>
                        <li>Friendly team</li>
                       <li> Frequent salary review</li>
                        <li>A clear plan of professional growth</li>
                        <li>Comfortable office, powerful hardware</li>
                        <li>Official employment</li>
                        <li>Fully paid sick days</li>
                        <li>28 days vacation, the ability to take a vacation in parts</li>
                        <li>Office in the center of Minsk (Oktyabrskaya metro station)</li>
                       </ul>
                       <div class="formcontainer">
                        <h1>APPLICATION FORM</h1>
                        <form action="/android" method="post">
                        
                        <input type="text" name="firstname" placeholder="FIRST NAME*">
                        <input type="text" name="lastname" placeholder="LAST NAME">
                        <input type="text" name="email" placeholder="EMAIL">
                        <input type="number" name="phone" placeholder="PHONE">
                        <input type="text" name="linkdin" placeholder="LINKDIN PROFILE">
                        <input type="text" name="github" placeholder="GITHUB PROFILE">
                        <textarea name="message" placeholder="MESSAGE" rows="7" cols="73"></textarea>
                        <button type="submit" class="btn" >Submit</button>
                      </form>
            
                      </div>
            </div>
            <button class="accordion">FRONTEND DEVELOPER </button>
            <div class="frontend panel">
              <h2>PREVIEW</h2>
              <p>Softnetix (an HTP resident) invites a full-time Javascript developer to work in the office. We are ready to consider both experienced developers and beginners. As for beginners, we offer mentoring from colleagues, as well as code review, assistance, and constant support. There is a huge scope for career growth of experienced developers, who can develop their own projects and team.</p>

              <h2>PROJECT DESCRIPTION</h2>
               <p>The project is a system for aggregating and analyzing information.</p>
                <p>The Frontend is represented by two applications: Admin and Client, written in React / Redux.</p>
                <p>GitLab is used for CI / CD.</p>
                <p>The project is new - there is no legacy.</p>
                <p>If you are a beginner and not familiar with many of the terms and technologies listed below, feel free to apply if you are open to learning.</p>

              <h2>REQUIREMENTS</h2>
              <ul>
                <li>JavaScript (ES6)</li>
                <li>>Minimal knowledge of CSS</li>
                <li>>HTML5</li>
                <li>>Typescript</li>
                <li>>React, Redux, Redux-Saga</li>
                <li>>Deep understanding of asynchronous programming (Callback, Event Loop, Promise, Observable)</li>
                <li>>Understanding the basics of functional programming</li>
                <li>>WebGL, PixiJS</li>
                <li>>Experience in game dev is a plus</li>
              </ul>
              <h2>WE OFFER:</h2>
              <ul>
                <li>Friendly team</li>
                <li>Frequent salary review</li>
                <li>A clear plan of professional growth</li>
                <li>Comfortable office, powerful hardware</li>
                <li>Official employment</li>
                <li>Fully paid sick days</li>
                <li>28 days vacation, the ability to take a vacation in parts</li>
                <li>Office in the center of Minsk (Oktyabrskaya metro station)</li>
              </ul>
              <div class="formcontainer">
                <h1>APPLICATION FORM</h1>
                <form action="/frontend" method="post">
                
                <input type="text" name="firstname" placeholder="FIRST NAME*">
                <input type="text" name="lastname" placeholder="LAST NAME">
                <input type="text" name="email" placeholder="EMAIL">
                <input type="number" name="phone" placeholder="PHONE">
                <input type="text" name="linkdin" placeholder="LINKDIN PROFILE">
                <input type="text" name="github" placeholder="GITHUB PROFILE">
                <textarea name="message" placeholder="MESSAGE" rows="7" cols="73"></textarea>
                <button type="submit" class="btn" >Submit</button>
              </form>
    
              </div>
            </div>
            <button class="accordion">BACKEND DEVELOPER</button>
            <div class="backend panel">
              <h2>PREVIEW</h2>
              <p>Softnetix (an HTP resident) invites a full-time Kotlin / Java developer to work in the office. We are ready to consider both experienced developers and beginners. As for beginners, we offer mentoring from colleagues, as well as code review, assistance, and constant support. There is a huge scope for career growth of experienced developers, who can develop their own projects and team.</p>
              <h2>PROJECT DESCRIPTION</h2>
              <p>Marketing information and analytical user management system. Data aggregation and analysis system.The Frontend is represented by two applications: Admin and Client written in React / Redux.GitLab is used for CI / CD. The project is new - there is no legacy.</p>
              <h2>REQUIREMENTS</h2>
              <ul>
                <li>>Good knowledge of Java / Kotlin (Core)</li>
                <li>>Understanding OOP, SOLID</li>
                <li>>Understanding of the HTTP protocol and experience with external APIs (REST / GraphQL)</li>
                <li>>Experience with any framework (Spring, Play Framework, Akka, Axon Framework)</li>
                <li>>Good understanding of RDBMS (PostgreSQL / MySQL) principles</li>
                <li>>Experience with ORM libraries (Hibernate)</li>
                <li>>Using testing tools (KotlinTest / JUnit)</li>
                <li>>Analytical skills, teamwork, responsibility</li>
                <li>>Understanding of multithreaded and asynchronous programming (treads, coroutines, deadlock, starvation, race condition, synchronized)</li>
                <li>>Understanding the basics of functional programming</li>
                <li>>Introduction to service-oriented architecture</li>
                <li>>Docker, Gradle, Maven, Git</li>
                <li>>Basic Unix Skills</li>
                <li>>Knowledge of DDD principles</li>
                <li>>Basic Linux command line skills</li>
                <li>>Knowledge of NoSQL databases</li>
              </ul>
              <h2>WE OFFER:</h2>
              <ul>
                <li>Friendly team</li>
                <li>Frequent salary review</li>
                <li>A clear plan of professional growth</li>
                <li>Comfortable office, powerful hardware</li>
                <li>Official employment</li>
                <li>Fully paid sick days</li>
                <li>28 days vacation, the ability to take a vacation in parts</li>
                <li>Office in the center of Minsk (Oktyabrskaya metro station)</li>
              </ul>
              <div class="formcontainer">
                <h1>APPLICATION FORM</h1>
                <form action="/backend" method="post">
                
                <input type="text" name="firstname" placeholder="FIRST NAME*">
                <input type="text" name="lastname" placeholder="LAST NAME">
                <input type="text" name="email" placeholder="EMAIL">
                <input type="number" name="phone" placeholder="PHONE">
                <input type="text" name="linkdin" placeholder="LINKDIN PROFILE">
                <input type="text" name="github" placeholder="GITHUB PROFILE">
                <textarea name="message" placeholder="MESSAGE" rows="7" cols="73"></textarea>
                <button type="submit" class="btn" >Submit</button>
              </form>
    
              </div>
            </div>
          </section>
          <hr>
          <footer class="footer">
            <h1>SOFTNETIX</h1>
            <p>All rights reserved © Softnetix 2024</p>
          </footer>
          
          
       </div>


   
</body>

<script>
    let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 3000); // Change image every 3 seconds
}
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</html>