<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email your query</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="logo">
        
    <h1 id="tkf">LET'S TALK</h1>
    <form action="/talk" method="post" class="talkform">
         <input type="text" name="name" placeholder="NAME">
         <input type="number" name="phone" placeholder="PHONE">
         <input type="text" name="email" placeholder="email">
         <textarea name="message" placeholder="MESSAGE"></textarea>
         <button type="submit" class="btn2">SEND</button>
         
    </form>
    <% if(locals.data){ %>
        <% alert }%>
        
    <h2> SOFTNETIX</h2> 
        <h4>SOFTWARE COMPANY</h4>
       </div>
</body>
</html>